<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/appointment" method="post">
        <div class="form-group">
            <label for="member">예약회원</label>
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.id}"
                        th:text="${member.nickname}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="hospital">병원명</label>
            <select name="hospitalId" id="hospital" class="form-control">
                <option value="">병원선택</option>
                <option th:each="hospital : ${hospitals}"
                        th:value="${hospital.id}"
                        th:text="${hospital.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="hospitalDept">병과</label>
            <select name="hospitalDeptId" id="hospitalDept" class="form-control">
                <option value="">병과선택</option>
                <option th:each="hositalDept : ${hospitalDepts}"
                        th:text="${hositalDept.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="comment">예약 메시지</label>
            <input type="text" name="comment" class="form-control" id="comment" placeholder="예약 메시지를 남겨주세요.">
        </div>

        <div class="form-group">
            <label for="appointName">예약자명</label>
            <input type="text" name="appointName" class="form-control" id="appointName"
                   placeholder="예약자명을 작성해주세요.">
        </div>

        <div class="form-group">
            <label for="appointPhonenumber">예약자 연락처</label>
            <input type="text" name="appointPhonenumber" class="form-control" id="appointPhonenumber"
                   placeholder="예약자 연락처를 작성해주세요.">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>