logging:
  pattern:
    console: "[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%clr(%-5p)][%thread][%clr(%logger{0}.%method){cyan}] - %msg%n"
    file: "[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%-5p][%thread][%logger{0}.%method] - %msg%n"

  file:
    name: ./logs/avocado.log

  level:
    org.hibernate:
      SQL: debug
      orm:
        jdbc:
          bind: trace
    root: info

  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      file-name-pattern: "${LOG_FILE}%d{yyyy-MM-dd}-%i.log"